<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script>
    function VisitsController($scope, $http) {
        $http.get('visits.json').success( function(data, status, headers, config) {
            $scope.visits = data;
        });

        $scope.order = '-visitdate';
    }

    function ThresholdController($scope, $http) {
        $http.get('stores.json').success( function(data, status, headers, config) {
            $scope.stores = data;
        });

        // list only stores nearing threshold
        $scope.thresholdNotTooLow = function(item) {
            return (item.last.visited > item.threshold.value / 2);
        };
        $scope.order = '-last.visited';


    }
</script>
<h1>Dashboard</h1>



<div class="row" data-ng-app="">
    <div class="col-md-6">
    <h2>Latest visits</h2>

    <div ng-controller="VisitsController">

      <table class="table table-hover">
        <thead>
        <th> Date </th>
        <th> Store </th>
        <th> Visitor </th>
        <th> Days since </th>
        
        </thead>
        <tr ng-repeat="visit in visits| orderBy:order | filter:searchText | limitTo: 10">
            <td><a ng-href="/visits/{{visit.id}}">{{visit.visitdate | date:'dd.MM.yyyy, EEEE'}}</a></td>
            <td><a ng-href="/stores/{{visit.store.id}}">{{visit.store.name}}</a></td>
            <td><a ng-href="/users/{{visit.user.id}}">{{visit.user.name}}</a></td>
            <td>{{visit.days.since}}</td>


        </tr>
      </table>

    </div>
</div>
<div class="col-md-6">
    <h2>Upcoming</h2>

    <div ng-controller="ThresholdController">

      <table class="table table-hover">
        <thead>

        <th>&nbsp;</th>        
        </thead>
        <tr ng-repeat="store in stores| orderBy:order | filter:thresholdNotTooLow ">
            <td ng-class="{strike: deleted, bold: store.last.visited > store.threshold.value / 2, red: store.threshold.exceeded}">
                <p ng-class="{
                    text-warning: store.last.visited > store.threshold.value / 2,
                    text-danger: store.threshold.exceeded}">
                    {{store.company.name + ' ' +  store.name}} has not been visited in {{ store.last.visited }} days  
                </p></td>

        </tr>
      </table>

    </div>
</div>
